<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Makati 168</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/tuktuk.css">
    <link rel="stylesheet" href="/styles/tuktuk.theme.mock.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/styles/tuktuk.icons.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.icons.css">
    <style>
        aside > header .logo {
            margin-top: 10px;
            max-height: 30px; }

        aside footer img {
          height: 16px;
          position: relative;
          top: 5px;
          left: 2px; }

        .thumb {
            height: 96px;
            margin-bottom: 2.5em;
            text-align: center;
            line-height: 96px;
        }
        .column_4.thumb {
            height: 220px;
            line-height: 220px;
        }
        #map-canvas {
          height: 577px;
          width:100%;
          margin: 0px;
          padding: 0px
        }
        .alert-title{
          
          margin-bottom: -20px;
        }
        .bg{
            background-color: white;
        }

    </style>
</head>
<body data-tuktuk="boxes">
    <!--Side Bar -->



    <!--Shown Side Bar -->
    <aside class="column_3">
        <header class="bck color text center ">
            <h3 class="color white"><strong>Makati</strong> 168 </h3>
            <!-- img src="../images/logo-white.png" class="logo on-left"/> -->
            
        </header>
        
        <header class="bck dark">

                <h5 class="text normal align center"><span class="icon bell"></span> Incoming Alerts </h5>

        </header>

        <header class="bck dark text center ">
            <button class="normal refreshmap-btn"><span class="icon refresh"></span> Refresh Map</button>
        </header>
        
        <article class="bck dark scroll" style="height:-30px;">
            
            <ul class="margin side-bar-alert" style="list-style:none;">
                <!-- <li>
                    <strong class="color theme text bold" style="font-size:25px;"><span class="icon ambulance "></span> Ambulance</strong><br>
                    <small>Status: <span>New</span></small>
                    <br>
                    <small class="color white text normal" style="text-indent:10px;"><span class="icon info-sign"></span> Jethro De Guzman, 21</small><br>
                    <small class="color white text normal" style="text-indent:10px;"><span class="icon phone"></span> 09228239751</small><br>
                    <small class="color white text normal" style="text-indent:10px;"><span class="icon home"></span>4408 Old Sta. Mesa, Manila, Philippines</small><br>
                    <small class="color white text normal" style="text-indent:10px;"><span class="icon calendar"></span> 2013-11-13 / 1:00:00 </small><br>
                    <div data-tuktuk="buttons">
                        <button class="alert tiny" style="margin-top:20px;"> Decline</button> 
                        <button class="tiny success" style="margin-top:20px;"> Respond</button> 
                        <button class="secondary tiny" style="margin-top:20px;">View</button>
                    </div>
                    <hr>
                </li> -->
            </ul>
        </article>
       
        <footer class="bck color text center" style="padding:5px;">
             Handcrafted by <a href="http://tapquo.com" class="display inline"><img src="http://cdn.tapquo.com/images/logo_footer.png"/></a>
            
        </footer>
    </aside>



    <!-- Main Content -->

    <section>
        <header style="background-color:#ECF0F1;">
            <h3 class="on-left text thin">Mobile Emergency Response Application</h3>
            <nav class="on-right">
                <span>Welcome Admin</span>
                <button onclick="Javascript:location.href='/admin/flush'" class="tiny secondary"><span class="icon signout"></span> Logout</button>
                <button class="tiny secondary" data-tuktuk-modal="settings"><span class="icon cog"></span></button>
                
            </nav>
        </header> 
        <article id="map-wrapper"  class="scroll">
             <div id="map-canvas"></div>
        </article>

        <footer class="bck light">
            <nav class="on-left text bold" data-tuktuk="menu">
                <a href="/admin" class="active"><span class="icon bell-alt"></span> Incoming Alerts</a>
                <a href="/admin/record"><span class="icon eye-open"></span> View Records</a>
                <a href="/admin/track"><span class="icon road"></span> Track Units</a>
                <a href="/admin/user"><span class="icon group"></span> Mobile App Users</a>
                <a href="/admin/gallery"><span class="icon picture"></span> Gallery</a>
                
                
            </nav>
            <!-- <nav class="on-left" data-tuktuk="menu">
                <button class="tiny" style="margin-right:10px;"><span class="icon cog"></span>View All Records</button>
                <button class="tiny alert" style="margin-right:10px;"><span class="icon cog"></span>Track Units</button>
                <button class="tiny secondary"><span class="icon cog"></span>Settings</button>
            </nav> -->
            
        </footer>
    </section>

    <!-- Modal-->
    <div id="modal" data-tuktuk="modal" class="column_5">
        <header>
            <h4 class="text book inline">Normal window</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum assumenda aperiam nobis quam earum nihil veritatis modi possimus blanditiis perferendis obcaecati voluptatibus fuga eaque ad et atque nostrum porro expedita!
        </article>
    </div>

    <!-- Aside Right -->
    <div id="settings" data-tuktuk="modal" class="side column_5">
            <header>
                <h4 class="inline text book"><span class="icon cogs"></span> Settings</h4>
                <button data-modal="close" class="transparent small on-right inline icon remove" onclick="JavaScript:location.reload();"></button>
            </header>
            <article class="scroll">
              <strong class="text thin" style="font-size:28px;">Access</strong>
              <form class="">
                <label>Username</label>
                <span style="position:relative; display:block;">
                <input class="username-settings" type="text" style="display:inline; width:70%;">
                <button class="thin secondary change-btn" data-field="username" style="display:inline;">Change</button>
                </span>
                <label>Password</label>
                <span style="position:relative; display:block;">
                <input class="password-settings" type="password" value="" style="display:inline; width:70%;">
                <button class="thin secondary change-btn" data-field="password" style="display:inline;">Change</button>
                </span>
                <label>Email</label>
                <span style="position:relative; display:block;">
                <input class="email-settings" type="email" style="display:inline; width:70%;">
                <button class="thin secondary change-btn" data-field="email" style="display:inline;">Change</button>
                </span>
              </form>
              <span class="change-alert" style="text-align:center; font-size:20px; padding:20px; position:relative; display:block;">Successfully Updated</span>
            </article>
            <footer class="bck light">
                &nbsp;
            </footer>
        </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src="/js/tuktuk.js"></script>
    <script src="/js/jquery.playSound.js"></script>
    <script src="/js/jquery.pnotify.js"></script>


    <script>
        TukTuk.Modal.loading();
        setTimeout( TukTuk.Modal.hide, 1000);
    </script>
    <script>

    var map;
    //lat, lng points
    var alertPoints = [];
    //markers
    var markers = [];

    var alerts = [];
        jQuery(function($){
            //append to sidebar all the request with status new
            $.ajax({
                url : "/request?status=pending",
                type : "GET",
                dataType: "JSON",
                success : function(data){
                    var data = data.data;
                    // localStorage.alert = JSON.stringify(data);

                    for (var key in data){
                        alerts.push(data[key]);
                        // alerts[key] = data; 
                        // alerts.push(data);
                       $(".side-bar-alert").append(displayAlert(data[key]));
                    }
                    initialize();
                },
                error : function(err){
                    alert(err);
                }
            });
            // resize the map when window resize
            var mapHeight = $("#map-wrapper").height();
            $("#map-canvas").css({
                height : mapHeight
            });
            $(window).resize(function(){
                var mapHeight = $("#map-wrapper").height();
                $("#map-canvas").css({
                    height : mapHeight
                });
                initialize();
            });

           
            //listen to socket, append to sidebar realtime when theres an alert, display notification upper right side, push adata to alerts array
            socket.on('alert', function(data){
                var data = data[0];
                $.playSound('/sound/alert');
                $.pnotify({
                    title: data.request,
                    text: data.address,
                    addclass: 'bck dark'           
                });

                $(".side-bar-alert").prepend(displayAlert(data));
                alerts.push(data);
                // console.log(data);
                addMarker(new google.maps.LatLng (data.lat, data.lng), displayInfowindow(data), data.request);
                // addMarker(new google.maps.LatLng (data.lat,data.lng));
            });

            //update client side when respond and decline button clicked
            socket.on('update', function(){
             
                $(".side-bar-alert li").each(function(){
                    $(this).remove();
                });
                alerts = [];
                markers = [];
                $.ajax({
                    url : "/request?status=pending",
                    type : "GET",
                    dataType: "JSON",
                    success : function(data){
                        var data = data.data;
                        // localStorage.alert = JSON.stringify(data);

                        for (var key in data){
                            alerts.push(data[key]);
                            // alerts[key] = data; 
                            // alerts.push(data);
                           $(".side-bar-alert").append(displayAlert(data[key]));
                        }
                         initialize();
                    },
                    error : function(err){
                        alert(err);
                    }
                });

            });
            $(".side-bar-alert").on("click"," li button.view-btn",function(){
                
                alertid = $(this).data("id");
                for (var i in alerts) {
                    if (alerts[i].id == alertid){
                        showInfo(markers[i]);
                    }
                }
            });

            $(".refreshmap-btn").click(function(){

                refreshMap();
            });

            $(".side-bar-alert").on("click"," li button.respond-btn",function(){
                alertid = $(this).data("id");
                changeStatus("Responded", alertid);
                // alert = $(this).parent().parent();
                // alert.remove();
               
            });

            $(".side-bar-alert").on("click"," li button.decline-btn",function(){
                alertid = $(this).data("id");
                changeStatus("Declined", alertid);
            });

            //hide change alert on settings
            $(".change-alert").hide();

            $.ajax({
                url : "/admin/access",
                type : "GET",
                success : function(data){
                    $(".username-settings").val(data[0].username);
                    $(".email-settings").val(data[0].email);
                   
                }
            });

            $(".change-btn").click(function(e){
                e.preventDefault();
                value = $(this).prev().val();
                field = $(this).data("field");
                $.ajax({
                    url : "/admin/update",
                    type : "GET",
                    data : {
                        value : value,
                        field : field
                    },
                    success : function(data){
                        if(data){
                            $(".change-alert").fadeIn(200);
                        }
                    }
                });
            });


            
        });
    

    //html format to display to sidebar the alert
    function displayAlert(data, location){
        
        var request;

        switch(data.request){
            case "Ambulance": 
               request = '<strong class="color theme text bold" style="font-size:25px;"><span class="icon ambulance "></span> Ambulance</strong>';
            break;

            case "Police":
                request = '<strong class="color theme text bold" style="font-size:25px;"><span class="icon fighter-jet"></span> Police</strong>';
            break;

            case "Fire Truck":
               request = '<strong class="color theme text bold" style="font-size:25px;"><span class="icon fire"></span> Fire truck</strong>';
            break;

        }
        var date = new Date(data.createdAt);
         var hour = date.getHours();
         var min = date.getMinutes();
         var sec = date.getSeconds();
         if(min<10){
            min = '0'+min;
           
         }
         if(sec<10){
             sec = '0'+sec;
         }
         var timenow = hour + ":" + min + ":" + sec;
         var year = date.getFullYear();
         var month = date.getMonth()+1;

         var day = date.getDate();
         if(month < 10 ){
           
            month = '0'+month;
         }
         if(day < 10){
             day = '0'+day;
         }
        var datenow = year + "-" + month + "-" + day;
        var datetime = datenow + " | " + timenow;
        html = '<li id='+data.id+'>'+request+'<br><small>Status: <span>Pending</span></small><br><small class="color white text normal" style="text-indent:10px;"><span class="icon info-sign"></span>'+ data.name+', '+data.age+'</small><br><small class="color white text normal" style="text-indent:10px;"><span class="icon phone"></span> '+ data.mobile+'</small><br><small class="color white text normal" style="text-indent:10px;"><span class="icon home"></span>'+ data.address+'</small><br><small class="color white text normal" style="text-indent:10px;"><span class="icon calendar"></span> '+datetime+' </small><br><div data-tuktuk="buttons"><button data-id="'+data.id+'" class="alert tiny decline-btn" style="margin-top:20px;"> Decline</button><button data-id="'+data.id+'" class="tiny success respond-btn" style="margin-top:20px;"> Respond</button><button data-id="'+data.id+'" class="secondary tiny view-btn" style="margin-top:20px;">View</button></div><hr></li>';
        return html;
    }
    //html format to display to infowindow the alert
    function displayInfowindow(data){
        var request;

        switch(data.request){
            case "Ambulance": 
               request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon ambulance "></span> Ambulance</strong>';
            break;

            case "Police":
                request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon fighter-jet"></span> Police</strong>';
            break;

            case "Fire Truck":
               request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon fire"></span> Fire truck</strong>';
            break;

        }
         var date = new Date(data.createdAt);
         var hour = date.getHours();
         var min = date.getMinutes();
         var sec = date.getSeconds();
         if(min<10){
            min = '0'+min;
            
         }
         if(sec<10){
            sec = '0'+sec;
         }
         var timenow = hour + ":" + min + ":" + sec;
         var year = date.getFullYear();
         var month = date.getMonth()+1;

         var day = date.getDate();
         if(month < 10 ){
           
            month = '0'+month;
         }
         if(day < 10){
            day = '0'+day;
         }
        var datenow = year + "-" + month + "-" + day;
        var datetime = datenow + " | " + timenow;
        html = request+'<br><small>Status: <span>Pending</span></small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon info-sign"></span>'+ data.name+', '+data.age+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon phone"></span> '+ data.mobile+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon home"></span>'+ data.address+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon calendar"></span> '+datetime+' </small><br>';
        return html;
    }
    
   
    //map initialization
    function initialize() {
      
      var mapOptions = {
        zoom: 14,
        center: new google.maps.LatLng(14.554729,121.024445),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
      alertPoints = [
          [14.559327,121.019529],
          [14.557312,121.029722],
          [14.542878,121.024379],
          [14.565848,121.051072]
      ];
      markers = [];
      updateMapPoints();
      // showMarkers();
    }

    //push marker to markers array and plot points as marker on map
    function addMarker(location, html, icon) {
      // console.log(location);
      var icontype;
      switch(icon){
        case "Ambulance" : 
            icontype = "/images/ambulance.png";
            break;
        case "Police" : 
            icontype = "/images/police.png";
            break;
        case "Fire Truck" : 
            icontype = "/images/firetruck.png";
            break;
      }
      var marker = new google.maps.Marker({
        position: location,
        map: map,
        animation: google.maps.Animation.DROP,
        html : html,
        icon : icontype
      });
      markers.push(marker);
      google.maps.event.addListener(marker, 'click', function() {
          showInfo(marker);
      });
    }



    //get the points on alerts array, convert to gmaps lat lng
    function updateMapPoints(){

      for (var i in alerts) {
             
         addMarker(new google.maps.LatLng (alerts[i].lat, alerts[i].lng), displayInfowindow(alerts[i]), alerts[i].request);
            
      }

    }
    //info window initialization
    var infowindow = new google.maps.InfoWindow({});
   
    //show info window when view btn and marker click
    function showInfo(marker){
        map.panTo(marker.getPosition());
        infowindow.setContent(marker.html); 
        infowindow.open(map,marker);
        map.setZoom(16);
    }

    //refresh the map, center map to makati
    function refreshMap(){
        map.panTo(new google.maps.LatLng(14.554729,121.024445));
        map.setZoom(14);
        for (var i in markers){
            infowindow.close(map, markers[i]);
        }
    }

    function changeStatus(status, alertid){
        $.ajax({
            url : '/request/update',
            type : 'POST',
            data : {
                status : status,
                id     : alertid
            }
        });
    }

    // //show markers on map
    // function showMarkers() {
    //   setAllMap(map);
    // }

    // //set the markers to map
    // function setAllMap(map) {
    //   for (var i = 0; i < markers.length; i++) {
    //     markers[i].setMap(map);
    //   }
    // }
   
    // google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</body> 
</html>
