<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Makati 168</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/tuktuk.css">
    <link rel="stylesheet" href="/styles/tuktuk.theme.mock.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/styles/tuktuk.icons.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.icons.css">
</head> 
<style type="text/css">
    
    body{
        background: #ECF0F1;
    }
</style>
<body class="text thin bck theme">

    <div class="bck dark padding color white">
        <div class="row">
            <div class="column_6">
               <h2><strong>Makati</strong> 168 - Admin</h2>
            </div>
        </div>
    </div>

    <div  style=" margin-top: 100px; margin-right:auto; margin-left:auto; width: 400px;" >
           <header class="">
               <h4 class="text thin"><span class="icon lock"></span> Welcome, Please Login</h4>
           </header>
           <hr/>
           <article>
              <form >
                  <label>Username</label>
                  <input type="text" class="uname-input" placeholder="Username">
                  <label>Password</label>
                  <input type="password" class="pass-input" placeholder="Password">
              </form>
           </article>
           <br/>
           <footer>
               <button class="anchor login-btn"><span class="icon signin"></span>Login</button><br/><br/>
               <span class="alert-span bck alert text thin align center" style=" display:block; font-size:20px; padding:5px;">Invalid Username and Password</span>
           </footer>
       </div>
<script src="/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript">
jQuery(function($){
  $(".alert-span").hide();

  $(".login-btn").click(function(){    
    $.ajax({
      url : "/admin/check",
      type : "GET",
      data : {
        uname : $(".uname-input").val(),
        pass : $(".pass-input").val()
      },
      success : function(data){
        if(data){
          location.href = "/admin";
        }else{
          $(".alert-span").fadeIn();
        }
      }
    });
  });
  $("input").keyup(function(){
    $(".alert-span").fadeOut();
  });
});
</script>
</body>
</html>