<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rescue Makati</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/tuktuk.css">
    <link rel="stylesheet" href="/styles/tuktuk.theme.mock.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/styles/tuktuk.icons.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.icons.css">
    <style>
        aside > header .logo {
            margin-top: 10px;
            max-height: 30px; }

        aside footer img {
          height: 16px;
          position: relative;
          top: 5px;
          left: 2px; }

        .thumb {
            height: 96px;
            margin-bottom: 2.5em;
            text-align: center;
            line-height: 96px;
        }
        .column_4.thumb {
            height: 220px;
            line-height: 220px;
        }
        #map-canvas, #table-canvas {
          height: 577px;
          width:100%;
          margin: 0px;
          padding: 0px
        }
        .alert-title{
          
          margin-bottom: -20px;
        }
        .bg{
            background: white;
        }

    </style>
</head>
<body data-tuktuk="boxes">
    <!--Side Bar -->

    <!-- Hidden SideBar -->
    <aside id="menu" class="absolute bck light column_3">
        <header class="bck dark">
            <div class="session on-left">
                <strong>logged in as <a href="#" class="color default">soyjavi</a></strong>
            </div>
            <a href="#" data-box="close" class="on-right text big icon remove color white"></a>
        </header>
        <article class="bck light scroll">
            <img src="http://cdn.tapquo.com/photos/javi_color.jpg" class="responsive padding-left padding-top padding-right"/>

            <div class="margin-left margin-right">
                <h4 class="text bold color theme inline">Javi Jiménez</h4>
                <span class="margin-left tag bck color inline text bold">pro</span>
                <a href="#" class="block"><span class="icon twitter"></span> soyjavi</a>
            </div>

            <hr/>
            <div class="margin" data-tuktuk="buttons">
                <button data-tuktuk-modal="modal" class="theme" data-tip="Click to view a modal window">Modal</button>
                <button data-tuktuk-modal="modal-right" data-tip="Click to view a side window" class="">Aside Right</button>
            </div>
            <hr>
            <ul class="margin" data-tuktuk="totals">
                <li><strong>3609</strong><small>followers</small></li>
                <li><strong>138</strong><small>following</small></li>
                <li><strong>14</strong><small>lists</small></li>
            </ul>
            <hr>
            <div class="margin">
                <strong class="text big normal block ">About <a href="#">Orman Clark</a></strong>
                <div class="display block  text justify small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            </div>
            <nav data-tuktuk="menu" class="text bold">
                <a href="#" class="active"><span class="icon user"></span>Shots<small>(100)</small></a>
                <a href="#"><span class="icon heart"></span>Trending<small>(3)</small></a>
                <a href="#"><span class="icon group"></span>Following<small>(192)</small></a>
                <a href="#"><span class="icon star"></span>Debuts<small>(160)</small></a>
            </nav>
        </article>
    </aside>


    <!--Shown Side Bar -->
    <aside class="column_3">
        <header class="bck color text center ">
            <h3 class="color white"><strong>Rescue</strong> Makati </h3>
            <!-- img src="../images/logo-white.png" class="logo on-left"/> -->
            
        </header>
        
        <header class="bck dark">

                <h5 class="text normal align center"><span class="icon eye-open"></span> View Records </h5>

        </header>

        <!-- <header class="bck dark">
        <form>
          
        </form>
        </header> -->
        
        <header class="bck theme">
            <h4 class="text center" ><span  class="icon filter"></span>Set <strong>Filters</strong></h4>
        </header>
        <article class="bck dark scroll" style="height:-30px;">
            <br>
            <form id="filter-form">
                 <strong style="margin-left:15px;">View: </strong> 
                 <br/>
                 <div class="text center">
                    <input class="view-radio" type="radio" name="Map"  /><span>Map</span>
                    <input class="view-radio" type="radio" name="Table"  /><span>Table</span>
                    <button class="tiny secondary refreshmap-btn" style="">Refresh Map</button>
                </div>
                <br/>
                <strong style="margin-left:15px;">Status:</strong>
                <br/>
                <div class="text center">
                <span class="select margin-left margin-right" >
                    <select class="status-select" style="">
                       
                        <option value="Responded">Responded</option>
                        <option value="Declined">Declined</option>
                        <option value="Pending">Pending</option>
                    </select>
                </span>
                </div>
                <br/>
                <strong style="margin-left:15px;">Request:</strong>
                <br/>
                <div class="text center">
                <span class="select margin-left margin-right" >
                    <select class="request-select" style="">
                        <option value="All">All</option>
                        <option value="Ambulance">Ambulance</option>
                        <option value="Police">Police</option>
                        <option value="Fire Truck">Fire Truck</option>
                    </select>
                </span>
                </div>
                <br/>
                <strong style="margin-left:15px;">From:</strong>
                <br/>
                <div class="text center">
                <span class=" margin-left margin-right" style="position:relative;display:block">
                <input class="from-date" type="date" >
                </span>
                </div>
                <br/>
                <strong style="margin-left:15px;">To:</strong>
                <br/>
                <div class="text center">
                <span class=" margin-left margin-right" style="position:relative;display:block">
                <input class="to-date" type="date" style="">
                </span>
                </div>
                <br/>
                <div class="text center">
                <span class="margin-left margin-right" style="">
                <button class="button anchor alert viewrecord-btn" style="margin-bottom:20px; width:200px;">View</button>
                </span>
                </div>
            </form>
            
        </article>
       
        


        <footer class="bck color text center" style="padding:5px;">
             Handcrafted by <a href="http://tapquo.com" class="display inline"><img src="http://cdn.tapquo.com/images/logo_footer.png"/></a>
            
        </footer>
    </aside>



    <!-- Main Content -->

    <section>
        <header style="background:#ECF0F1;">
            <h3 class="on-left text thin">Mobile Emergency Response Application</h3>
            <nav class="on-right">
                <span>Welcome Admin</span>
                <button class="tiny secondary"><span class="icon signout"></span> Logout</button>
                
            </nav>
        </header> 
        <article id="content-wrapper"  class="scroll">
             <div id="map-canvas"></div>
             <div id="table-canvas"  style="padding:20px;">
                 <table class="record-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Mobile</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody class="record-tbody">
                       
                    </tbody>
                 </table>
             </div>
        </article>

        <footer class="bck light">
            <nav class="on-left text bold" data-tuktuk="menu">
                <a href="/admin" ><span class="icon bell-alt"></span> Incoming Alerts</a>
                <a href="/admin/record" class="active"><span class="icon eye-open"></span> View Records</a>
                <a href="#"><span class="icon road"></span> Track Units</a>
                <a href="#"><span class="icon cogs"></span> Settings</a>
                
            </nav>
          
            
        </footer>
    </section>

    <!-- Modal-->
    <div id="modal" data-tuktuk="modal" class="column_5">
        <header>
            <h4 class="text book inline">Normal window</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum assumenda aperiam nobis quam earum nihil veritatis modi possimus blanditiis perferendis obcaecati voluptatibus fuga eaque ad et atque nostrum porro expedita!
        </article>
    </div>

    <!-- Aside Right -->
    <div id="modal-right" data-tuktuk="modal" class="side column_5">
        <header>
            <h4 class="inline text book">Side window.</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article class="form">
            <label>example of input</label>
            <input type="text" value="text" />
            <input type="text" class="large" value="text" />

            <label>Example of textarea</label>
            <textarea>textarea</textarea>
            <textarea class="large">textarea</textarea>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos dolorum minus fugiat rem similique velit aperiam est sequi neque nulla tenetur minima autem facilis temporibus quaerat consectetur impedit praesentium.
        </article>
        <footer>
            <button data-modal="close">Save</button>
        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src="/js/tuktuk.js"></script>
    <script src="/js/jquery.playSound.js"></script>
     <script src="/js/jquery.pnotify.js"></script>
    <script>
        TukTuk.Modal.loading();
        setTimeout( TukTuk.Modal.hide, 1000);
    </script>
    <script>
        jQuery(function($){
           
        });
    </script>
    <script type="text/javascript">

        var map;
        //lat, lng points
        var alertPoints = [];
        //markers
        var markers = [];

        var alerts = [];
            jQuery(function($){

                //date initialization
                 var date = new Date();
                 var hour = date.getHours();
                 var min = date.getMinutes();
                 var sec = date.getSeconds();
                 var timenow = hour + ":" + min + ":" + sec;
                 var year = date.getFullYear();
                 var month = date.getMonth()+1;
                 var day = date.getDate();
                 var datenow = year + "-" + month + "-" + day;
                 var datetime = datenow + " | " + timenow;     

                 //setting NOW to date fields
                 $(".from-date").val(datenow);
                 $(".to-date").val(datenow);
                 
                 //map is the default view
                 $("input[name='Map']").attr("checked",true);
                 $("#table-canvas").hide();
                 //toggle view radio button
                 $(".view-radio").click(function(){
                     name = $(this).attr("name");
                     if(name == "Map"){

                         $("input[name='Map']").attr("checked",true);
                         $("input[name='Table']").attr("checked",false);
                         $(".refreshmap-btn").fadeIn();
                         $("#table-canvas").hide();
                         $("#map-canvas").show();
                         initialize();
                         
                     }else{
                         $("input[name='Map']").attr("checked",false);
                         $("input[name='Table']").attr("checked",true);
                         $(".refreshmap-btn").fadeOut();
                         $("#map-canvas").hide();
                         $("#table-canvas").show();
                     }
                     // return;
                 });

               
                // append to sidebar all the request with status new
                $.ajax({
                    url : "/request/sort?stat=Responded&req=All&from="+datenow+"&to="+datenow,
                    type : "GET",
                    dataType: "JSON",
                    success : function(data){
                        var data = data.data;

                        for (var key in data){
                            alerts.push(data[key]);
                            var date = new Date(data[key].createdAt);
                            var hour = date.getHours();
                            var min = date.getMinutes();
                            var sec = date.getSeconds();
                            var timenow = hour + ":" + min + ":" + sec;
                            var year = date.getFullYear();
                            var month = date.getMonth()+1;
                            var day = date.getDate();
                            var datenow = year + "-" + month + "-" + day;
                            var datetime = datenow + " | " + timenow;
                             $(".record-tbody").append("<tr class='record-item'><td>"+datenow+"</td><td>"+timenow+"</td><td>"+data[key].name+"</td><td>"+data[key].age+"</td><td>"+data[key].mobile+"</td><td>"+data[key].address+"</td></tr>");
                        }
                        initialize();
                    },
                    error : function(err){
                        alert(err);
                    }
                });


                // resize the map when window resize
                var mapHeight = $("#content-wrapper").height();
                $("#map-canvas").css({
                    height : mapHeight
                });
                $(window).resize(function(){
                    var mapHeight = $("#content-wrapper").height();
                    $("#map-canvas").css({
                        height : mapHeight
                    });
                    initialize();
                });
                

                $(".viewrecord-btn").click(function(e){
                    e.preventDefault();
                    view = $(".view-radio:checked").attr("name");
                    status = $(".status-select").val();
                    request = $(".request-select").val();
                    from = $(".from-date").val();
                    to = $(".to-date").val();
                    
                        alerts = [];
                        markers = [];

                        $.ajax({
                            url : "/request/sort?stat="+status+"&req="+request+"&from="+from+"&to="+to,
                            type : "GET",
                            dataType: "JSON",
                            success : function(data){
                                $(".record-tbody").html("");
                                var data = data.data;

                                for (var key in data){
                                    alerts.push(data[key]);
                                    var date = new Date(data[key].createdAt);
                                    var hour = date.getHours();
                                    var min = date.getMinutes();
                                    var sec = date.getSeconds();
                                    var timenow = hour + ":" + min + ":" + sec;
                                    var year = date.getFullYear();
                                    var month = date.getMonth()+1;
                                    var day = date.getDate();
                                    var datenow = year + "-" + month + "-" + day;
                                    var datetime = datenow + " " + timenow;
                                    $(".record-tbody").append("<tr class='record-item'><td>"+datenow+"</td><td>"+timenow+"</td><td>"+data[key].name+"</td><td>"+data[key].age+"</td><td>"+data[key].mobile+"</td><td>"+data[key].address+"</td></tr>");
                                }
                                initialize();
                            },
                            error : function(err){
                                alert(err);
                            }
                        });
                    
                });

                $(".refreshmap-btn").click(function(e){
                    e.preventDefault();
                    refreshMap();
                });


            });
        

    
        //html format to display to infowindow the alert
        function displayInfowindow(data){
            var request;

            switch(data.request){
                case "Ambulance": 
                   request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon ambulance "></span> Ambulance</strong>';
                break;

                case "Police":
                    request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon fighter-jet"></span> Police</strong>';
                break;

                case "Fire Truck":
                   request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon fire"></span> Fire truck</strong>';
                break;

            }
            var date = new Date(data.createdAt);
            var hour = date.getHours();
            var min = date.getMinutes();
            var sec = date.getSeconds();
            var timenow = hour + ":" + min + ":" + sec;
            var year = date.getFullYear();
            var month = date.getMonth()+1;
            var day = date.getDate();
            var datenow = year + "-" + month + "-" + day;
            var datetime = datenow + " " + timenow;
            html = request+'<br><small>Status: <span>'+data.status+'</span></small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon info-sign"></span>'+ data.name+', '+data.age+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon phone"></span> '+ data.mobile+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon home"></span>'+ data.address+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon calendar"></span> '+datetime+' </small><br>';
            return html;
        }
        
        
        //map initialization
        function initialize() {
          
        
            var mapOptions = {
              zoom: 14,
              center: new google.maps.LatLng(14.554729,121.024445),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            alertPoints = [
                [14.559327,121.019529],
                [14.557312,121.029722],
                [14.542878,121.024379],
                [14.565848,121.051072]
            ];
            markers = [];
            updateMapPoints();

          
          // showMarkers();
        }

        //push marker to markers array and plot points as marker on map
        function addMarker(location, html) {
          // console.log(location);
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,
            html : html
          });
          markers.push(marker);
          google.maps.event.addListener(marker, 'click', function() {
              showInfo(marker);
          });
        }


        //get the points on alerts array, convert to gmaps lat lng
        function updateMapPoints(){

          for (var i in alerts) {
                 
             addMarker(new google.maps.LatLng (alerts[i].lat, alerts[i].lng), displayInfowindow(alerts[i]));
                
          }

        }
        //info window initialization
        var infowindow = new google.maps.InfoWindow({});
        
        //show info window when view btn and marker click
        function showInfo(marker){
            map.panTo(marker.getPosition());
            infowindow.setContent(marker.html); 
            infowindow.open(map,marker);
            // map.setZoom(16);
        }

        //refresh the map, center map to makati
        function refreshMap(){
            map.panTo(new google.maps.LatLng(14.554729,121.024445));
            map.setZoom(14);
            for (var i in markers){
                infowindow.close(map, markers[i]);
            }
        }

    

    </script>


</body> 
</html>
