<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rescue Makati</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/tuktuk.css">
    <link rel="stylesheet" href="/styles/tuktuk.theme.mock.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/styles/tuktuk.icons.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.icons.css">
    <style>
        aside > header .logo {
            margin-top: 10px;
            max-height: 30px; }

        aside footer img {
          height: 16px;
          position: relative;
          top: 5px;
          left: 2px; }

        .thumb {
            height: 96px;
            margin-bottom: 2.5em;
            text-align: center;
            line-height: 96px;
        }
        .column_4.thumb {
            height: 220px;
            line-height: 220px;
        }
        #map-canvas, #table-canvas {
          height: 577px;
          width:100%;
          margin: 0px;
          padding: 0px
        }
        .alert-title{
          
          margin-bottom: -20px;
        }
        .bg{
            background: white;
        }

    </style>
</head>
<body data-tuktuk="boxes">
    <!--Side Bar -->

    <!--Shown Side Bar -->
    <aside class="column_3">
        <header class="bck color text center ">
            <h3 class="color white"><strong>Rescue</strong> Makati </h3>
            <!-- img src="../images/logo-white.png" class="logo on-left"/> -->
            
        </header>
        
        <header class="bck dark">

                <h5 class="text normal align center"><span class="icon eye-open"></span> View Records </h5>

        </header>

        <!-- <header class="bck dark">
        <form>
          
        </form>
        </header> -->
        
        <header class="bck theme">
            <h4 class="text center" ><span  class="icon filter"></span>Set <strong>Filters</strong></h4>
        </header>
        <article class="bck dark scroll" style="height:-30px;">
            <br>
            <form id="filter-form">
                 <strong style="margin-left:15px;">View: </strong> 
                 <br/>
                 <div class="text center">
                    <input class="view-radio" type="radio" name="Map"  /><span>Map</span>
                    <input class="view-radio" type="radio" name="Table"  /><span>Table</span>
                    <button class="tiny secondary refreshmap-btn" style="">Refresh Map</button>
                </div>
                <br/>
                <strong style="margin-left:15px;">Status:</strong>
                <br/>
                <div class="text center">
                <span class="select margin-left margin-right" >
                    <select class="status-select" style="">
                       
                        <option value="Responded">Responded</option>
                        <option value="Declined">Declined</option>
                        <option value="Pending">Pending</option>
                    </select>
                </span>
                </div>
                <br/>
                <strong style="margin-left:15px;">Request:</strong>
                <br/>
                <div class="text center">
                <span class="select margin-left margin-right" >
                    <select class="request-select" style="">
                        <option value="All">All</option>
                        <option value="Ambulance">Ambulance</option>
                        <option value="Police">Police</option>
                        <option value="Fire Truck">Fire Truck</option>
                    </select>
                </span>
                </div>
                <br/>
                <strong style="margin-left:15px;">From:</strong>
                <br/>
                <div class="text center">
                <span class=" margin-left margin-right" style="position:relative;display:block">
                <input class="from-date" type="date" />
                </span>
                </div>
                <br/>
                <strong style="margin-left:15px;">To:</strong>
                <br/>
                <div class="text center">
                <span class=" margin-left margin-right" style="position:relative;display:block">
                <input class="to-date" type="date" style="">
                </span>
                </div>
                <br/>
                <div class="text center">
                <span class="margin-left margin-right" style="">
                <button class="button anchor alert viewrecord-btn" style="margin-bottom:20px; width:200px;">View</button>
                </span>
                </div>
            </form>
            
        </article>
       
        


        <footer class="bck color text center" style="padding:5px;">
             Handcrafted by <a href="http://tapquo.com" class="display inline"><img src="http://cdn.tapquo.com/images/logo_footer.png"/></a>
            
        </footer>
    </aside>



    <!-- Main Content -->

    <section>
        <header style="background:#ECF0F1;">
            <h3 class="on-left text thin">Mobile Emergency Response Application</h3>
            <nav class="on-right">
                <span>Welcome Admin</span>
                <button class="tiny secondary"><span class="icon signout"></span> Logout</button>
                <button class="tiny secondary" data-tuktuk-modal="settings"><span class="icon cog"></span></button>
                
            </nav>
        </header> 
        <article id="content-wrapper"  class="scroll">
             <div id="map-canvas"></div>
             <div id="table-canvas"  style="padding:20px;">
                 <table class="record-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Request</th>
                        </tr>
                    </thead>
                    <tbody class="record-tbody">
                       
                    </tbody>
                 </table>
             </div>
        </article>

        <footer class="bck light">
            <nav class="on-left text bold" data-tuktuk="menu">
                <a href="/admin" ><span class="icon bell-alt"></span> Incoming Alerts</a>
                <a href="/admin/record" class="active"><span class="icon eye-open"></span> View Records</a>
                <a href="#"><span class="icon road"></span> Track Units</a>
                
                
            </nav>
          
            
        </footer>
    </section>

    <!-- Modal-->
    <div id="modal" data-tuktuk="modal" class="column_5">
        <header>
            <h4 class="text book inline">Normal window</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum assumenda aperiam nobis quam earum nihil veritatis modi possimus blanditiis perferendis obcaecati voluptatibus fuga eaque ad et atque nostrum porro expedita!
        </article>
    </div>

    <!-- Aside Right -->
    <div id="settings" data-tuktuk="modal" class="side column_5">
        <header>
            <h4 class="inline text book"><span class="icon cogs"></span> Settings</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove" onclick="JavaScript:location.reload();"></button>
        </header>
        <article class="scroll">
          <strong class="text thin" style="font-size:28px;">Access</strong>
          <form class="">
            <label>Username</label>
            <span style="position:relative; display:block;">
            <input class="username-settings" type="text" style="display:inline; width:70%;">
            <button class="thin secondary change-btn" data-field="username" style="display:inline;">Change</button>
            </span>
            <label>Password</label>
            <span style="position:relative; display:block;">
            <input class="password-settings" type="password" value="" style="display:inline; width:70%;">
            <button class="thin secondary change-btn" data-field="password" style="display:inline;">Change</button>
            </span>
            <label>Email</label>
            <span style="position:relative; display:block;">
            <input class="email-settings" type="email" style="display:inline; width:70%;">
            <button class="thin secondary change-btn" data-field="email" style="display:inline;">Change</button>
            </span>
          </form>
          <span class="change-alert" style="text-align:center; font-size:20px; padding:20px; position:relative; display:block;">Successfully Updated</span>
        </article>
        <footer class="bck light">
            &nbsp;
        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src="/js/tuktuk.js"></script>
    <script src="/js/jquery.playSound.js"></script>
     <script src="/js/jquery.pnotify.js"></script>
    <script>
        TukTuk.Modal.loading();
        setTimeout( TukTuk.Modal.hide, 1000);
    </script>
    <script>
        jQuery(function($){
           
        });
    </script>
    <script type="text/javascript">

        var map;
        //lat, lng points
        var alertPoints = [];
        //markers
        var markers = [];

        var alerts = [];
            jQuery(function($){

                //date initialization
                 var date = new Date();
                 var hour = date.getHours();
                 var min = date.getMinutes();
                 var sec = date.getSeconds();
                 if((min<10)||(sec<10)){
                    min = '0'+min;
                    sec = '0'+sec;
                 }
                 var timenow = hour + ":" + min + ":" + sec;
                 var year = date.getFullYear();
                 var month = date.getMonth()+1;

                 var day = date.getDate();
                 if((month < 10 )||(day < 10)){
                    day = '0'+day;
                    month = '0'+month;
                 }
                 var datenow = year + "-" + month + "-" + day;
                 var datetime = datenow + " | " + timenow;     
                 //hide change alert on settings
                 $(".change-alert").hide();

                
                 //setting NOW to date fields
                 $(".from-date").val(datenow);
                 $(".to-date").val(datenow);
                
                 //map is the default view
                 $("input[name='Map']").attr("checked",true);
                 $("#table-canvas").hide();
                 //toggle view radio button
                 $(".view-radio").click(function(){
                     name = $(this).attr("name");
                     if(name == "Map"){

                         $("input[name='Map']").attr("checked",true);
                         $("input[name='Table']").attr("checked",false);
                         $(".refreshmap-btn").fadeIn();
                         $("#table-canvas").hide();
                         $("#map-canvas").show();
                         initialize();
                         
                     }else{
                         $("input[name='Map']").attr("checked",false);
                         $("input[name='Table']").attr("checked",true);
                         $(".refreshmap-btn").fadeOut();
                         $("#map-canvas").hide();
                         $("#table-canvas").show();
                     }
                     // return;
                 });

               
                // append to sidebar all the request with status new
                $.ajax({
                    url : "/request/sort?stat=Responded&req=All&from="+datenow+"&to="+datenow,
                    type : "GET",
                    dataType: "JSON",
                    success : function(data){
                        var data = data.data;

                        for (var key in data){
                            alerts.push(data[key]);
                             var date = new Date(data[key].createdAt);
                             var hour = date.getHours();
                             var min = date.getMinutes();
                             var sec = date.getSeconds();
                             if((min<10)||(sec<10)){
                                min = '0'+min;
                                sec = '0'+sec;
                             }
                             var timenow = hour + ":" + min + ":" + sec;
                             var year = date.getFullYear();
                             var month = date.getMonth()+1;

                             var day = date.getDate();
                             if((month < 10 )||(day < 10)){
                                day = '0'+day;
                                month = '0'+month;
                             }
                            var datenow = year + "-" + month + "-" + day;
                            var datetime = datenow + " | " + timenow;
                             $(".record-tbody").prepend("<tr class='record-item'><td>"+datenow+"</td><td>"+timenow+"</td><td>"+data[key].name+"</td><td>"+data[key].age+"</td><td>"+data[key].mobile+"</td><td>"+data[key].address+"</td><td>"+data[key].request+"</td></tr>");
                        }
                        initialize();
                    },
                    error : function(err){
                        alert(err);
                    }
                });


                // resize the map when window resize
                var mapHeight = $("#content-wrapper").height();
                $("#map-canvas").css({
                    height : mapHeight
                });
                $(window).resize(function(){
                    var mapHeight = $("#content-wrapper").height();
                    $("#map-canvas").css({
                        height : mapHeight
                    });
                    initialize();
                });
                

                $(".viewrecord-btn").click(function(e){
                    e.preventDefault();
                    view = $(".view-radio:checked").attr("name");
                    status = $(".status-select").val();
                    request = $(".request-select").val();
                    from = $(".from-date").val();
                    to = $(".to-date").val();
                    
                        alerts = [];
                        markers = [];

                        $.ajax({
                            url : "/request/sort?stat="+status+"&req="+request+"&from="+from+"&to="+to,
                            type : "GET",
                            dataType: "JSON",
                            success : function(data){
                                $(".record-tbody").html("");
                                var data = data.data;

                                for (var key in data){
                                    alerts.push(data[key]);
                                     var date = new Date(data[key].createdAt);
                                     var hour = date.getHours();
                                     var min = date.getMinutes();
                                     var sec = date.getSeconds();
                                     if((min<10)||(sec<10)){
                                        min = '0'+min;
                                        sec = '0'+sec;
                                     }
                                     var timenow = hour + ":" + min + ":" + sec;
                                     var year = date.getFullYear();
                                     var month = date.getMonth()+1;

                                     var day = date.getDate();
                                     if((month < 10 )||(day < 10)){
                                        day = '0'+day;
                                        month = '0'+month;
                                     }
                                    var datenow = year + "-" + month + "-" + day;
                                    var datetime = datenow + " | " + timenow;
                                    $(".record-tbody").prepend("<tr class='record-item'><td>"+datenow+"</td><td>"+timenow+"</td><td>"+data[key].name+"</td><td>"+data[key].age+"</td><td>"+data[key].mobile+"</td><td>"+data[key].address+"</td><td>"+data[key].request+"</td></tr>");
                                }
                                initialize();
                            },
                            error : function(err){
                                alert(err);
                            }
                        });
                    
                });

                $(".refreshmap-btn").click(function(e){
                    e.preventDefault();
                    refreshMap();

                });

                socket.on('alert', function(data){
                    var data = data[0];
                    $.playSound('/sound/alert');
                    $.pnotify({
                        title: data.request,
                        text: data.address,
                        addclass: 'bck dark'           
                    });
                });

                $.ajax({
                    url : "/admin/access",
                    type : "GET",
                    success : function(data){
                        $(".username-settings").val(data[0].username);
                        $(".email-settings").val(data[0].email);
                       
                    }
                });

                $(".change-btn").click(function(e){
                    e.preventDefault();
                    value = $(this).prev().val();
                    field = $(this).data("field");
                    $.ajax({
                        url : "/admin/update",
                        type : "GET",
                        data : {
                            value : value,
                            field : field
                        },
                        success : function(data){
                            if(data){
                                $(".change-alert").fadeIn(200);
                            }
                        }
                    });
                });


            });
        

    
        //html format to display to infowindow the alert
        function displayInfowindow(data){
            var request;

            switch(data.request){
                case "Ambulance": 
                   request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon ambulance "></span> Ambulance</strong>';
                break;

                case "Police":
                    request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon fighter-jet"></span> Police</strong>';
                break;

                case "Fire Truck":
                   request = '<strong class="color theme text bold" style="font-size:14px;"><span class="icon fire"></span> Fire truck</strong>';
                break;

            }
              var date = new Date(data.createdAt);
              var hour = date.getHours();
              var min = date.getMinutes();
              var sec = date.getSeconds();
              if((min<10)||(sec<10)){
                 min = '0'+min;
                 sec = '0'+sec;
              }
              var timenow = hour + ":" + min + ":" + sec;
              var year = date.getFullYear();
              var month = date.getMonth()+1;

              var day = date.getDate();
              if((month < 10 )||(day < 10)){
                 day = '0'+day;
                 month = '0'+month;
              }
             var datenow = year + "-" + month + "-" + day;
             var datetime = datenow + " | " + timenow;
            html = request+'<br><small>Status: <span>'+data.status+'</span></small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon info-sign"></span>'+ data.name+', '+data.age+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon phone"></span> '+ data.mobile+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon home"></span>'+ data.address+'</small><br><small class="color text normal" style="text-indent:10px; font-size:10px;"><span class="icon calendar"></span> '+datetime+' </small><br>';
            return html;
        }
        
        
        //map initialization
        function initialize() {
          
        
            var mapOptions = {
              zoom: 14,
              center: new google.maps.LatLng(14.554729,121.024445),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            alertPoints = [
                [14.559327,121.019529],
                [14.557312,121.029722],
                [14.542878,121.024379],
                [14.565848,121.051072]
            ];
            markers = [];
            updateMapPoints();

          
          // showMarkers();
        }

        //push marker to markers array and plot points as marker on map
        function addMarker(location, html) {
          // console.log(location);
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,
            html : html
          });
          markers.push(marker);
          google.maps.event.addListener(marker, 'click', function() {
              showInfo(marker);
          });
        }


        //get the points on alerts array, convert to gmaps lat lng
        function updateMapPoints(){

          for (var i in alerts) {
                 
             addMarker(new google.maps.LatLng (alerts[i].lat, alerts[i].lng), displayInfowindow(alerts[i]));
                
          }

        }
        //info window initialization
        var infowindow = new google.maps.InfoWindow({});
        
        //show info window when view btn and marker click
        function showInfo(marker){
            map.panTo(marker.getPosition());
            infowindow.setContent(marker.html); 
            infowindow.open(map,marker);
            // map.setZoom(16);
        }

        //refresh the map, center map to makati
        function refreshMap(){
            map.panTo(new google.maps.LatLng(14.554729,121.024445));
            map.setZoom(14);
            for (var i in markers){
                infowindow.close(map, markers[i]);
            }
        }

    

    </script>


</body> 
</html>
