<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rescue Makati</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/tuktuk.css">
    <link rel="stylesheet" href="/styles/tuktuk.theme.mock.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/styles/tuktuk.icons.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.icons.css">
    <style>
        body > header .logo {
            margin-top: 8px;
            margin-right: 8px;
            max-height: 30px; }

        body > footer img {
            height: 18px;
            position: relative;
            top: 5px;
            left: 2px; }

        section.landing input {
            border-radius: 1px 0px 0px 1px !important;
            height: 48px;}

        section.landing button {
            border-radius: 0px 1px 1px 0px !important;
            height: 48px;}

        .button.large, button.large {
            font-size: 1.3em;}
       /* #map {
            background: url('/images/makati-map.png');
        }*/
    </style>
</head>
<body>
    <!-- ========================== HEADER ========================== -->
    <header class="bck alert padding">
        <div class="row">
            <div class="column_8">
                <!-- <img src="../images/logo-green.png" class="logo on-left"/> -->
                <h2 class="text thin">Mobile Emergency Response Application</h2>
            </div>
            <nav class="column_4 text right">
                
            </nav>
        </div>
    </header>

    <section id="map" class="bck color text center">
        <div class="row" style=" overflow:hidden;">
            <div class="column_6" style="">
                <img class="galaxy-img" src="/images/galaxy-screen.png" style="margin-top:40px;" />
                <!-- <img src="images/screen.png" height="388px;" width="217px" style="position:absolute; left:271px; top:213px;"> -->
            </div>
            <div   class="column_6 padding" style="; text-align:left;">
                <h1  style="margin-top:40px; font-size:60px;"><strong><span class="icon sign"></span>Makati 168</strong></h1>
                <h2 class="text thin" style="margin-bottom:20px;">Be rescued in just a few clicks.</h2>
                <span class="register-alert empty-field" style="display:none; color:#E74C3C; font-size:28px;">Please fill out all fields<br/></span>

                <span class="register-alert invalid-email" style="display:none; color:#E74C3C; font-size:28px;">Invalid Email<br/></span>

                <span class="register-alert invalid-password" style="display:none; color:#E74C3C; font-size:28px;">Invalid Password<br/></span>

                <span class="register-alert registered-email" style="display:none; color:#E74C3C; font-size:28px;">Email is already registered.<br/></span>             
                
                <span class="register-alert success-link" style="display:none; color:#2ABB67; font-size:20px;">To complete your registration, we have sent you a verification link. Check your email.<br/></span>
                
                <span class="register-alert resend-link" style="display:none; color:#E74C3C;">Please verify your email. We have already sent you an email. Resend again?<form><input readonly type="text" name="email2" style="width:80%;" placeholder="Input again your email"> </form><button class="resend-btn normal secondary">Resend</button><br/></span> 

                 <span class="register-alert please-wait" style="display:none; color:white; font-size:28px;">Please Wait...<br/></span>

                <form class="register-form">   

                    <label>Email</label><br>
                    <input class="register-input" name="email" type="email" style="width:80%;" placeholder="Email Address" /><br>
                    <label>Name</label><br>
                    <input class="register-input"  type="text" style="width:40%;" name="firstname" placeholder="Firstname" /> <input class="register-input" type="text" style="width:40%;" name="lastname" placeholder="Lastname" /><br>
                    <label>Password (Atleast 6 Characters)</label><br>
                    <input class="register-input"  type="password" style="width:40%;" name="password" placeholder="Password" /> <input class="register-input" type="password" style="width:40%;" name="password2" placeholder="Re-Type Password" /><br>
                    <label>Birthdate (YYYY-MM-DD)</label><br>
                    <input class="register-input" type="date" style="width:40%;" name="birthdate" placeholder="YYYY-MM-DD" ><br>
                    <label>Mobile</label><br>
                    <input class="register-input" class="margin-bottom" type="text" style="width:40%;" name="mobile" placeholder="Mobile Number" >
                                  
                    <button class="anchor large margin-top register-btn">Register</button>
                </form>
                <h5 class="text thin italic" style="margin-bottom:40px;">*Note: All details must be true and correct. This will be used by the command center to verify its users.</h5>
            </div>
        </div> 
      
    </section>

    <section class="bck theme padding text center ">
        <div class="row padding-bottom">
            <div class="column_10 offset_1">
                <h1 class="text book color default">Emergency Response now on your Smart phones</h1>
                <h4>
                    Rescue Makati is a mobile app for emergency request of Ambulance, Police and Fire Truck. The app is functional inside Makati City vicinity. 
                </h4>
            </div>
        </div>

        <div class="row padding-top">
            <div class="column_3">
                <h2 class="icon user"></h2>
                <h5 class="text normal">Register first</h5>
                <small>Register First your Email, Name, Birthdate and Mobile Number. Don't forget to verify your email.</small>
            </div>
            <div class="column_3">
                <h2 class="icon download"></h2>
                <h5 class="text normal">Download the App</h5>
                <small>Download Makati 168. Currently available for Adroid. The app will be available for IOS soon.</small>
            </div>
            <div class="column_3">
                <h2 class="icon ambulance"></h2>
                <h5 class="text normal">Select Emergency Unit</h5>
                <small>Once the app is already installed. Just select a type of Emergency Unit.</small>
            </div>
            <div class="column_3">
                <h2 class="icon sign"></h2>
                <h5 class="text normal">Emergency Response</h5>
                <small>The Makati Command Center will immediately dispatch your requested unit. </small>
            </div>
        </div>
    </section>

    <section class="bck light padding">
        <div class="row text thin center">
            <div class="column_10 offset_1">
                <h1 class="text book color theme">Lorem ipsum dolor sit amet</h1>
                <h4>
                    Quam sunt quos minima consequatur dolore quaerat vel recusandae numquam ab qui dignissimos doloribus molestiae pariatur magnam libero nam consectetur asperiores maiores.
                </h4>
            </div>
        </div>
    </section>

    <section class="landing">
        <div class="row text center">
            <div class="column_10 offset_1">
                <h2 class="text bold color theme">Lorem ipsum dolor sit amet</h2>
                <h4 class="text book italic">Quam sunt quos minima consequatur</h4>
                <a href="#" class="button large margin-top">Yes, please!</a>
            </div>
        </div>
    </section>


    <footer class="bck dark padding">
        <div class="row margin-top margin-bottom">
            <div class="column_5">
               <!--  <p class="text bold big">Handcrafted by <a href="http://tapquo.com" class="display inline"><img src="http://cdn.tapquo.com/images/logo_footer.png"/></a></p>
                We're a  user experiences company located in <span class="text normal">Bilbao</span>, ES. -->
            </div>
            <div class="column_4">
                <!-- <p class="text bold big">Join the team!</p>
                Let us know how you're! <a href="mailto:hello@tapquo.com?subject=job" class="text underline color theme">Get in touch</a> -->
            </div>
            <div class="column_3">
                <!-- <p class="text bold big">Need some help?</p>
                For quick answers or help <a href="https://twitter.com/tapquo" target="_blank" class="text underline color theme">follow us</a> -->
            </div>
        </div>
    </footer>

    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src="/js/tuktuk.js"></script>
    <script type="text/javascript">
    jQuery(function($){
        //hide all alert at body onload
        // $(".register-alert").hide();
        //when register button is click
        $(".register-btn").click(function(e){
            e.preventDefault();
            var empty = false;
            var email = true;
            var password = true;
            //validations
            $(".register-input").each(function(){
                //if fields are empty
                if (($(this).val() == "") || ($(this).val() == null)){
                    empty = true;
                }else if ($(this).attr("name") == "password"){
                   
                    if($(this).val() != $("input[name='password2']").val()){
                        password = false;    
                        
                    }else{
                        if($(this).val().length < 6){
                             password = false;
                        }
                    }

                }else{
                    //email validation
                    if ($(this).attr('name') == "email"){
                        var x = $(this).val();
                        var atpos=x.indexOf("@");
                        var dotpos=x.lastIndexOf(".");
                        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
                          {
                            email = false;
                          }
                    }
                }
            });
            if(empty){
                $(".empty-field").fadeIn();
            }else if(!password){
                $(".invalid-password").fadeIn();
            }
            else if(!email){
                $(".invalid-email").fadeIn();
            }else{
               
                $.ajax({
                    url : "/temp/check",
                    type : "GET",
                    dataType:"JSON",
                    data : {
                        email : $("input[name='email']").val()
                    },
                    success : function(data){
                       
                        if(data.status == "user"){
                            $(".registered-email").fadeIn();
                        }else if(data.status == "temp"){
                            $("input[name='email2']").val($("input[name='email']").val());
                            $(".resend-link").fadeIn();
                        }else{
                            $('.please-wait').fadeIn();
                            $.ajax({
                                url : "/temp/save",
                                type : "POST",
                                data : $(".register-form").serialize(),
                                success : function(data){
                                    if(data){
                                        $('.please-wait').hide();
                                        $('.success-link').fadeIn();
                                        $("input").val("");
                                    }
                                }

                            });
                        }
                    }
                });
               
                
            }
            // alert($(".register-form").serialize());
        });

        $(".resend-btn").click(function(e){
            e.preventDefault();
            $('.resend-link').hide();
            $('.please-wait').fadeIn();
            $.ajax({
                url : "/temp/resend",
                type : "POST",
                data : {
                    email : $("input[name='email2']").val()
                },
                success : function(data){
                    if(data){
                        $('.please-wait').hide();
                        $('.success-link').fadeIn();
                        $("input").val("");
                    }
                }

            });
        });
        $(".register-input").focus(function(){

            $(".register-alert").fadeOut();

        });

        $("input[name='email']").keyup(function(){
           
            
        });
    });
    </script>
</body>
</html>
